
.principal{
    font-family: 'DynaPuff', cursive;
    text-align: center;
    background: linear-gradient(to top, rgb(178, 223, 169), rgb(0, 87, 0));
    background-image: url(imagenes/fondo1.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 11em;
    font-weight: bolder;
    color: white;
    text-shadow:5px 7px black;
    margin-top: -5px;
    margin-bottom: 3%;
}

h3{
    font-size: 3em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow:2px 4px rgb(255, 255, 255);
}

h4{
    font-size: 1em;
}

#ucc{
    width: 100px;
    height: 100px;
    margin-left: -1230px;
    margin-bottom: -5%;
    z-index: -1;
}

.CuadroNombre{
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow:1px 3px rgb(255, 255, 255);
    margin-top: 50px;
}

#nombre_user{
    font-size: 0.6em;
    font-family: 'DynaPuff', cursive;
    width: 200px;
    height: 35px;
}

#nombre_userCustom{
    font-size: 0.6em;
    font-family: 'DynaPuff', cursive;
    width: 200px;
    height: 35px;
}

#guardar{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border-width: 5px;
    border-color: rgb(47, 78, 39);
    font-family: 'DynaPuff', cursive;
    margin-top: 25px;
}

#jugar{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border-width: 10px;
    border-color: rgb(47, 78, 39);
    padding: 15px 60px;
    font-family: 'DynaPuff', cursive;
    margin-top: 10px;
}

#jugar:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(30, 32, 131);
}

#reglas{
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border-width: 10px;
    border-color: rgb(47, 78, 39);
    padding: 55px 60px;
    font-family: 'DynaPuff', cursive; 
    margin-top: 40px;
    margin-bottom: 70px;
}

#reglas:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(30, 32, 131);
}

#lista{
    text-align: left;
}

footer{
    font-family: 'DynaPuff', cursive;
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow:1px 3px rgb(255, 255, 255);
    margin-top: -2%;
}

.juego{
    font-family: 'DynaPuff', cursive;
    text-align: center;
    background-image: url(imagenes/fondo2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#volver{
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border-width: 10px;
    border-color: rgb(47, 78, 39);
    padding: 20px 10px 20px; 
    margin-top: 8px;
    margin-left: 40px;
}

#volver:hover {
    transform: scale(1.1);
}

.espacio{
    margin-left: 150px;
    margin-right: 150px;
}

.SeleccionarColor{
    font-size: 1.6em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow:1px 3px rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 24px;
}

#seleccion_Col{
    font-family: 'DynaPuff', cursive;
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 20px; 
    text-align: center;
}

#seleccion_Tab{
    font-family: 'DynaPuff', cursive;
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 20px; 
    text-align: center;
}

#seleccion_Com{
    font-family: 'DynaPuff', cursive;
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 20px; 
    text-align: center;
}

#color{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border-width: 5px;
    border-color: rgb(47, 78, 39);
    font-family: 'DynaPuff', cursive;
}

#tablero{
    border: 25px solid rgb(255, 255, 255);
}

#Titulo_Tabla{
    margin-top: 20px;
}

.Tabla_Puntaje{
    margin: auto;
    font-size: 2em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow:1px 3px rgb(255, 255, 255);
    background-color: white;
    border-radius: 10%;
    border: 10px solid rgb(47, 78, 39);
    padding: 20px 40px 20px;
}

.Espacio_Tabla{
    padding-left: 40px;
    padding-right: 40px;
}

















